<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="br.com.app.ceasa">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.HistoricActivity"
            android:parentActivityName=".ui.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.app.ceasa.ui.HistoricActivity" />

        </activity>
        <activity
            android:name=".ui.ConfigurationDataActivity"
            android:parentActivityName=".ui.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.app.ceasa.ui.ConfigurationDataActivity" />
        </activity>
        <activity
            android:name=".ui.ExportActivity"
            android:parentActivityName=".ui.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.app.ceasa.ui.ExportActivity" />
        </activity>
        <activity
            android:name=".ui.PaymentActivity"
            android:parentActivityName=".ui.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.app.ceasa.ui.PaymentActivity" />
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_client" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AbstractActivity" />
    </application>

</manifest>